<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Calculator</display-name>
  
  <welcome-file-list>
  	<welcome-file> ReadNumbers.html</welcome-file>  
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>sum</servlet-name>
  	<servlet-class>demo.Calci</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sum</servlet-name>
  	<url-pattern>/read</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>demo.Square</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>square</servlet-name>
  	<url-pattern>/sqr</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Div</servlet-name>
  	<servlet-class>demo.Divide</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Div</servlet-name>
  	<url-pattern>/div</url-pattern>
  </servlet-mapping>
</web-app>